body{
	/*color: #efefef;*/
	background: #FF7F00;
	font-family: 'Arial', sans-serif;
}

h1 {
	font-family: 'Arial', sans-serif;
	text-align: center;
	color: #efefef;
	margin-top: 20%;
}
h2 {
	font-family: 'Arial', sans-serif;
	text-align: center;
	font-size: 2em;
	color: #efefef;
	margin-top: 5%;
}
h3 {
	font-family: 'Arial', sans-serif;
	text-align: center;
	color: #efefef;
	margin-top: 35%;
	font-size: 2.5em;
}


#buttonstart {
	position: absolute;
	border: none;
	top: 50%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}

.buttonHome{
	position: absolute;
	border: none;
	top: 90%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
}

#buttoneat {
	position: absolute;
	border: none;
	top: 30%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}

#buttondrink {
	position: absolute;
	border: none;
	top: 40%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}

#buttonactivity {
	position: absolute;
	border: none;
	top: 50%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}

#buttoncafe {
	position: absolute;
	border: none;
	top: 60%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}

#buttonmap {
	position: absolute;
	border: none;
	top: 70%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}

#cafe{

	position: absolute;
	border: none;
	top: 10%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
}

#restaurants{
	position: absolute;
	border: none;
	top: 22%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
}

#drinks{
	position: absolute;
	border: none;
	top: 34%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;

}

#sports{
	position: absolute;
	border: none;
	top: 46%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
}

.place{
	height: 20%;
	background: #efefef;
	font-size: 1.1em;
	text-align: center;
	padding: 1em 0em;
	width: 100%;
	position: relative;
	float: left;
}

#places {
	width: 100%;
	height: 60%;
	position: relative;
	float: left;
}

.map {
	height: 15em;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.title {
	width: 100%;
	font-weight: 700;
	height: 1.5em;
	position: relative;
	float: left;
	text-align: center;
	padding: 1em 0em;
	font-size: 2em;
	color: #efefef;
}