body{
	color: #efefef;
	background: #FF7F00;
	font-family: 'Arial', sans-serif;
}

h1 {
	font-family: 'Arial', sans-serif;
	text-align: center;
	color: #efefef;
	margin-top: 20%;
}
h2 {
	font-family: 'Arial', sans-serif;
	text-align: center;
	font-size: 2em;
	color: #efefef;
	margin-top: 5%;
}
h3 {
	font-family: 'Arial', sans-serif;
	text-align: center;
	color: #efefef;
	margin-top: 35%;
	font-size: 2.5em;
}
#buttonstart {
	position: absolute;
	border: none;
	top: 50%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}

#buttoneat {
	position: absolute;
	border: none;
	top: 30%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}
#buttondrink {
	position: absolute;
	border: none;
	top: 40%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}
#buttonactivity {
	position: absolute;
	border: none;
	top: 50%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}
#buttoncafe {
	position: absolute;
	border: none;
	top: 60%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
	
}
#cafe{

	position: absolute;
	border: none;
	top: 10%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
}

#restaurants{
	position: absolute;
	border: none;
	top: 22%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
}

#drinks{
	position: absolute;
	border: none;
	top: 34%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;

}

#sports{
	position: absolute;
	border: none;
	top: 46%;
	font-size: 1.5em;
	color: #FF7F00;
	background: #efefef;
}


 #map {
        height: 400px;
        width: 100%;
 }

.place{

	background: #efefef;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;

}